*/.terraform
*/.gradle
.gradle/
/build/
/.idea/
/lib/
/test/
.env

**/values.yml
/kubernetes/shared/harbor/harbor/
/kubernetes/shared/harbor/postgresql/
/kubernetes/shared/harbor/postgresql-ha/
/kubernetes/shared/gitea/postgresql-ha/
/kubernetes/shared/harbor/redis-cluster/
/kubernetes/monitoring/prometheus/thanos/
