*/.terraform
*/.gradle
.gradle/
/build/
/.idea/
/lib/
/test/
.env

**/values.yml
/kubernetes/shared/harbor/harbor/
/kubernetes/shared/harbor/postgresql/
/kubernetes/shared/harbor/postgresql-ha/
/kubernetes/shared/gitea/postgresql-ha/
/kubernetes/shared/harbor/redis-cluster/
/kubernetes/monitoring/prometheus/thanos/
/kubernetes/shared/gitea/gitea/
/ansible/bin/containerd
/ansible/bin/containerd-shim
/ansible/bin/containerd-shim-runc-v1
/ansible/bin/containerd-shim-runc-v2
/ansible/bin/containerd-stress
/ansible/bin/ctr
/bin/main/com/zevrant/services/enumerations/ApplicationType.groovy
/bin/main/com/zevrant/services/enumerations/DefaultPipelineParameters.groovy
/bin/main/com/zevrant/services/enumerations/PipelineTriggerType.groovy
/bin/main/com/zevrant/services/enumerations/TriggerVariableType.groovy
/bin/main/com/zevrant/services/pojo/AndroidCodeUnit.groovy
/bin/main/com/zevrant/services/pojo/AndroidCodeUnitCollection.groovy
/bin/main/com/zevrant/services/pojo/AppEdit.groovy
/bin/main/com/zevrant/services/pojo/CodeUnit.groovy
/bin/main/com/zevrant/services/pojo/GenericPipelineTriggerVariable.groovy
/bin/main/com/zevrant/services/pojo/GitHubReleaseRequest.groovy
/bin/main/com/zevrant/services/pojo/GitRepo.groovy
/bin/main/com/zevrant/services/pojo/KubernetesEnvironment.groovy
/bin/main/com/zevrant/services/pojo/KubernetesService.groovy
/bin/main/com/zevrant/services/pojo/KubernetesServiceCollection.groovy
/bin/main/com/zevrant/services/pojo/LibraryCodeUnit.groovy
/bin/main/com/zevrant/services/pojo/LibraryCodeUnitCollection.groovy
/bin/main/com/zevrant/services/pojo/Pipeline.groovy
/bin/main/com/zevrant/services/pojo/PipelineCollection.groovy
/bin/main/com/zevrant/services/pojo/PipelineParameter.groovy
/bin/main/com/zevrant/services/pojo/PipelineTrigger.groovy
/bin/main/com/zevrant/services/pojo/PodStatus.groovy
/bin/main/com/zevrant/services/pojo/ServiceType.groovy
/bin/main/com/zevrant/services/pojo/SpringCodeUnit.groovy
/bin/main/com/zevrant/services/pojo/SpringCodeUnitCollection.groovy
/bin/main/com/zevrant/services/pojo/Version.groovy
/bin/main/com/zevrant/services/services/CertificateService.groovy
/bin/main/com/zevrant/services/services/GitService.groovy
/bin/main/com/zevrant/services/services/GooglePlayService.groovy
/bin/main/com/zevrant/services/services/GooglePlayTasks.groovy
/bin/main/com/zevrant/services/services/KubernetesService.groovy
/bin/main/com/zevrant/services/services/Terraform.groovy
/bin/main/com/zevrant/services/services/VersionService.groovy
/bin/main/com/zevrant/services/services/VersionTasks.groovy
/bin/main/com/zevrant/services/ServiceLoader.groovy
/bin/main/jenkins.gdsl
/bin/test/admin/cacUpdate.groovy
/bin/test/admin/create-ui-certificate.groovy
/bin/test/admin/dnsReload.groovy
/bin/test/terraform/approve.groovy
/bin/test/terraform/build-test-terraform.groovy
/bin/test/terraform/deploy.groovy
/bin/test/terraform/generate-prod-changeset.groovy
/bin/test/terraform/secret-check.groovy
/bin/test/android-build.groovy
/bin/test/android-deploy.groovy
/bin/test/automatedTest.groovy
/bin/test/buildBaseImages.groovy
/bin/test/containers.buildContainerImages.groovy
/bin/test/certificate-authority-generator.groovy
/bin/test/dynamic-dns.groovy
/bin/test/java-library-build.groovy
/bin/test/spring.kubernetes-deploy.groovy
/bin/test/podCleanup.groovy
/bin/test/serviceDeploy.groovy
/bin/test/test.groovy
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_cassandra.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_mariadb.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_mongodb.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_mysql.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_postgresql.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_redis.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/validations/_validations.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_affinities.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_capabilities.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_errors.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_images.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_ingress.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_labels.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_names.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_secrets.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_storage.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_tplvalues.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_utils.tpl
/kubernetes/develop/postgresql-ha/charts/common/templates/_warnings.tpl
/kubernetes/develop/postgresql-ha/charts/common/.helmignore
/kubernetes/develop/postgresql-ha/charts/common/Chart.yaml
/kubernetes/develop/postgresql-ha/charts/common/README.md
/kubernetes/develop/postgresql-ha/charts/common/values.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/configmap.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/custom-users-secrets.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/deployment.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/initdb-scripts-configmap.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/pdb.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/secrets.yaml
/kubernetes/develop/postgresql-ha/templates/pgpool/service.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/configmap.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/extended-configmap.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/hooks-scripts-configmap.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/initdb-scripts-configmap.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/metrics-service.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/pdb.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/secrets.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/service.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/service-headless.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/service-witness.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/servicemonitor.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/statefulset.yaml
/kubernetes/develop/postgresql-ha/templates/postgresql/witness-satefulset.yaml
/kubernetes/develop/postgresql-ha/templates/_helpers.tpl
/kubernetes/develop/postgresql-ha/templates/extra-list.yaml
/kubernetes/develop/postgresql-ha/templates/ldap-secrets.yaml
/kubernetes/develop/postgresql-ha/templates/metrics-configmap.yaml
/kubernetes/develop/postgresql-ha/templates/networkpolicy-egress.yaml
/kubernetes/develop/postgresql-ha/templates/networkpolicy-ingress.yaml
/kubernetes/develop/postgresql-ha/templates/NOTES.txt
/kubernetes/develop/postgresql-ha/templates/podsecuritypolicy.yaml
/kubernetes/develop/postgresql-ha/templates/role.yaml
/kubernetes/develop/postgresql-ha/templates/rolebinding.yaml
/kubernetes/develop/postgresql-ha/templates/serviceaccount.yaml
/kubernetes/develop/postgresql-ha/templates/tls-secrets.yaml
/kubernetes/develop/postgresql-ha/.helmignore
/kubernetes/develop/postgresql-ha/Chart.lock
/kubernetes/develop/postgresql-ha/Chart.yaml
/kubernetes/develop/postgresql-ha/README.md
/kubernetes/develop/postgresql-ha/values.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_cassandra.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_mariadb.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_mongodb.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_mysql.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_postgresql.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_redis.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/validations/_validations.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_affinities.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_capabilities.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_errors.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_images.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_ingress.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_labels.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_names.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_secrets.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_storage.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_tplvalues.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_utils.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/templates/_warnings.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/.helmignore
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/Chart.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/README.md
/kubernetes/preprod-shared/keycloak/postgresql-ha/charts/common/values.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/custom-users-secrets.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/deployment.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/initdb-scripts-configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/pdb.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/secrets.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/pgpool/service.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/extended-configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/hooks-scripts-configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/initdb-scripts-configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/metrics-service.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/pdb.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/secrets.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/service.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/service-headless.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/service-witness.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/servicemonitor.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/statefulset.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/postgresql/witness-satefulset.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/_helpers.tpl
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/extra-list.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/ldap-secrets.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/metrics-configmap.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/networkpolicy-egress.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/networkpolicy-ingress.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/NOTES.txt
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/podsecuritypolicy.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/role.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/rolebinding.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/serviceaccount.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/templates/tls-secrets.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/.helmignore
/kubernetes/preprod-shared/keycloak/postgresql-ha/Chart.lock
/kubernetes/preprod-shared/keycloak/postgresql-ha/Chart.yaml
/kubernetes/preprod-shared/keycloak/postgresql-ha/README.md
/kubernetes/preprod-shared/keycloak/postgresql-ha/values.yaml
/kubernetes/preprod-shared/postgresql-ha/
/kubernetes/preprod-shared/postgresql-ha/
