apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: createPods
rules:
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - "pods"
    verbs:
      - "create"
      - "patch"

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: execPods
  namespace: jenkins
rules:
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - "pods/exec"
    verbs:
      - "get"

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: deletePods
  namespace: jenkins
rules:
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - "pods"
    verbs:
      - "delete"
