apiVersion: v1
kind: Service
metadata:
  name: ingress-grafana-nodeport-dev
  namespace: zevrant-home-services-develop
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30128
  selector:
    app: zevrant-grafana-service

---

apiVersion: v1
kind: Service
metadata:
  name: ingress-prometheus-nodeport-dev
  namespace: zevrant-home-services-develop
spec:
  type: NodePort
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30126
  selector:
    app: zevrant-prometheus-service

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: zevrant-grafana-service
  labels:
    app: zevrant-grafana-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zevrant-grafana-service
  template:
    metadata:
      labels:
        app: zevrant-grafana-service
    spec:
      nodeSelector:
        architecture: amd64
      imagePullSecrets:
        - name: regcred
      volumes:
        - name: database
          nfs:
            server: nfs-controller.zevrant-services.com
            path: /grafana-dev
        - name: certs
          nfs:
            server: nfs-controller.zevrant-services.com
            path: /grafana-dev-certs
      containers:
        - name: grafana
          imagePullPolicy: Always
          image: zevrant/grafana:latest
          ports:
            - containerPort: 3000
          livenessProbe:
            initialDelaySeconds: 5
            httpGet:
              port: 3000
          readinessProbe:
            initialDelaySeconds: 5
            httpGet:
              port: 3000
          volumeMounts:
            - name: database
              mountPath: /var/lib/grafana
            - name: certs
              mountPath: /etc/ssl/certs/

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: zevrant-prometheus-service
  labels:
    app: zevrant-prometheus-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zevrant-prometheus-service
  template:
    metadata:
      labels:
        app: zevrant-prometheus-service
    spec:
      nodeSelector:
        architecture: amd64
      imagePullSecrets:
        - name: regcred
      containers:
        - name: zevrant-prometheus-service
          imagePullPolicy: Always
          image: zevrant/prometheus:latest
          ports:
            - containerPort: 9090
          livenessProbe:
            httpGet:
              port: 9090
            initialDelaySeconds: 5
          readinessProbe:
            httpGet:
              port: 9090
            initialDelaySeconds: 5
